body {
    font-family: Verdana, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #f8f4f4;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 10%;
}

#nav-list {
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 50px;
}

#nav-title > b {
    font-size: 34px !important;
    font-family: Garamond, serif;
}

.lines {
    display: none;
    cursor: pointer;
}

.line {
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 5px 3px;
    border: 1px solid white;
    border-radius: 3px;
}

.hover-anim {
    display: inline-block;
    position: relative;
    text-decoration:none;
    color: white;
    /* font-size: 16px !important; */
}

.hover-anim:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-anim:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 30%;
    background-color: #FFF;
    padding: 20px;
    /* backdrop-filter: blur(30px) saturate(2); */
    /* -webkit-backdrop-filter: blur(30px) saturate(2); */
    /* padding-inline: 0;
    padding-block: 13px; */
    overflow-y: auto;
    overflow-x: hidden;
    transition: 1s cubic-bezier(.36,-0.01,0,.77);
    top: 0;
    z-index: 9999;
}

#close {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 30px;
}

#close:hover {
    color: #FFC776;
}

.sidebar-container {
    /* margin: 10px 0 0 0; */
    width: auto;
}

.sidebar-collapse-box {
    background-color: white;
	color: black;
	cursor: pointer;
	padding: 18px;
    width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18px;
	transition: 0.4s;
    font-weight: bold;
}

.open-sidebar, .sidebar-collapse-box:hover {
	background-color: #FFC776;
}

.sidebar-collapse-box:after {
	content: "\002B";
	color: black;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}

.open-sidebar:after {
	content: "\2212";
}

.hide {
    /* margin-left: -30%; */
    margin-left: calc(-30% - 50px);
}

#faq {
    position: fixed;
    z-index: 999;
}

#faq-button {
    background-color: #FFC776;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    padding: 10px 14px 14px 14px;
    margin: 50px 10px 10px 10px;
    z-index: 999;
    box-shadow: 2px 2px 4px #000000;
}

#overview {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
}

#left-overview {
    flex: 1 1;
    text-align: center;
}

#left-overview > h1 {
    font-size: 52px; 
    margin: auto; 
    flex-basis: 100%;
    margin-bottom: 10px;
    font-family: Garamond, serif;
}

#title {
    margin: auto; 
    /* padding: 10px 20px;   */
    /* margin-top: 0;  */
    margin-bottom: 20px;
    flex-wrap: nowrap;
    font-size: 36px;
    font-family: 'Brush Script MT', cursive;
}

.container {
    margin: auto;
    width: 27rem;
}

.collapse-box {
	color: white;
	cursor: pointer;
	padding: 18px;
    width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	transition: 0.4s;
    font-weight: bold;
}

.open,
.collapse-box:hover {
	background-color: #ccc;
}

.collapse-box:after {
	content: "\002B";
	color: white;
	font-weight: 700;
	float: right;
	margin-left: 5px;
}

.open:after {
	content: "\2212";
}

.panel {
    text-align: left;
    color: white;
	max-width: 100% !important;
    margin: auto;
	padding: 0 1rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel > p {
    font-size: 16px;
}

#right-overview {
    flex: 1;
    display: flex;
}

#right-overview > img {
    width: 34rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#portfolio {
    background-color: #045453;
    padding: 40px 4% 0 4%;
}

.section-title {
    font-family: Garamond, serif;
    font-size: 52px;
    margin-top: 10px;
    margin-bottom: 0;
    z-index: 998;
    position: relative;
}

#portfolio-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
}

.btn-container {
    display: flex;
    flex-basis: 10%;
}

#img-container {
    z-index: 1;
    margin-top: -30px;
    flex-basis: 80%;
    text-align: center;
}

#img-container > img {
    max-width: 100%;
}

.btn-carousel {
    font-size: 30px; 
    color: #045453; 
    background-color: #FFC776;
    border-radius: 50%; 
    height: 50px; 
    width: 50px; 
    border: 0;
    cursor: pointer;
}

#dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

#services-header {
    padding: 0 4%;
}

#services-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.service-container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.service-container > .service-content {
    padding: 0 14%;
}

.service-container > img {
    width: 80%;
    margin: auto;
}

.service-container > .service-content > h2 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 0;
}

.service-container > .service-content > p {
    margin: 0;
}

#contact {
    margin-top: 50px;
}

#social-media {
    padding: 40px 0;
    background-color: #045453;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    padding: 5px 12px 0 12px;
}

#copyright {
    background-color: #022525;
    padding: 20px 0;
    text-align: center;
}

.dark-color {
    background-color: #045453;
}

@media all AND (max-width:1154px) {
    .sidebar-collapse-box {
        font-size: 16px;
    }

    #left-overview > h1 {
        font-size: 40px; 
    }

    #title {
        font-size: 28px;
    }

    .container {
        width: 21rem;
    }

    .collapse-box {
        font-size: 16px;
    }

    .panel > p {
        font-size: 14px;
    }

    #img-container {
        margin-top: -10px;
    }

    #services-container {
        margin-top: 10px;
    }

    .section-title {
        font-size: 40px;
    }

    .service-container > .service-content > h2 {
        font-size: 18px;
    }
}

@media all AND (max-width:830px) {
    .invisible {
        display: none !important;
    }

    .nav-height {
        height: 45px;
    }
    
    header > nav {
        flex-direction: column;
        transition: all 0.25s ease-out;
        height: 230px;
    }

    #nav-title {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2px;
    }
    
    #nav-list {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        gap: 20px;
        text-align: center;
    }

    .lines {
        display: block;
    }

    #sidebar {
        width: 50%;
    }

    .hide {
        margin-left: calc(-50% - 50px);
    }

    #overview {
        flex-direction: column-reverse;
    }

    #left-overview {
        margin-top: 20px;
    }

    #portfolio {
        padding: 20px 4% 0 4%;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    #dots {
        padding-bottom: 20px;
    }

    .btn-carousel {
        font-size: 20px; 
        color: #045453; 
        background-color: #FFC776;
        border-radius: 50%; 
        height: 30px; 
        width: 30px; 
        border: 0;
        cursor: pointer;
        padding-bottom: 6px;
    }

    #services-container {
        flex-direction: column;
    }

    .service-container {
        margin-bottom: 30px;
    }

    .service-container > img {
        width: 60%;
    }
}

@media all AND (max-width:480px) {
    #sidebar {
        width: 90%;
    }

    .sidebar-collapse-box {
        font-size: 14px;
    }

    .hide {
        margin-left: calc(-90% - 50px);
    }

    #overview {
        padding: 2rem 2rem;
    }

    #left-overview > h1 {
        font-size: 30px; 
    }

    #title {
        font-size: 20px;
    }

    .container {
        width: 16rem;
    }

    .collapse-box {
        font-size: 14px;
    }

    .panel > p {
        font-size: 12px;
    }

    #img-container {
        margin-top: 0;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .section-title {
        font-size: 30px;
    }

    .service-container > .service-content > h2 {
        font-size: 16px;
    }

    .service-container > .service-content > p {
        font-size: 14px;
    }
}